@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.bg {
  background: url('./../image/05-01.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 15px;
  align-items: center;
  position: relative;
  display: flex;
  height: 15px;
  width: 150px;
}

.progress-value {
  border-radius: 15px;
  background: #fff;
  height: 15px;
  width: 0;
}

/* back-key */
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.back-key {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1em;
  color: #000;
  background-color: #d7c378;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
  z-index: 1;
}

.back-key:hover {
  color: #f9f3e0;
  transform: translateX(10%);
  transition: all 0.3s ease-in;
}

@media(min-width: 576px) {
  .back-key {
    right: 50px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    font-size: 1.25em;
  }
}