@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

:root {
  --text-color: #fff;
  --background-color: #090909dd;
  --card-one: #eceff0ff;
  --card-two: #b2c6d4ff;
  --card-three: #086190ff;
  --card-four: #112040ff;
  --card-five: #3c3c3cff;
}

[data-theme="light"] {
  --text-color: #f56692;
  --background-color: #ffffffdd;
  --card-one: #f0f0f0ff;
  --card-two: #edc2b2ff;
  --card-three: #e98d9fff;
  --card-four: #c04461ff;
  --card-five: #3a264bff;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

body {
  height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.title {
  position: sticky;
  top: 25px;
  margin: 0 20px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 4em;
}

.container {
  height: calc(100vh - 25px);
  min-width: 320px;
  margin-top: 40px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.row > div {
  padding: 0;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background-color);
  overflow: hidden;
}

.row > div:nth-of-type(1),
.row > div:nth-of-type(6) {
  background-color: var(--card-one);
  color: var(--card-four);
}

.row > div:nth-of-type(2),
.row > div:nth-of-type(7) {
  background-color: var(--card-two);
  color: var(--card-four);
}

.row > div:nth-of-type(3),
.row > div:nth-of-type(8) {
  background-color: var(--card-three);
  color: #fff;
}

.row > div:nth-of-type(4),
.row > div:nth-of-type(9) {
  background-color: var(--card-four);
  color: #fff;
}

.row > div:nth-of-type(5),
.row > div:nth-of-type(10) {
  background-color: var(--card-five);
  color: #fff;
}

img {
  opacity: 0.15;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.card-link {
  position: relative;
}

.card-link div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.card-link:hover div {
  visibility: hidden;
}

.card-link:hover img {
  opacity: 1;
}

/* theme button */
.theme-btn {
  position: fixed;
  right: 25px;
  bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1em;
  color: #000;
  background-color: #d7c378;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.theme-btn:hover {
  color: #f9f3e0;
  transition: all 0.1s ease-in;
}

/* info key */
.info-key {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1em;
  color: #000;
  background-color: #d7c378;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.info-key:hover {
  color: #f9f3e0;
  transition: all 0.1s ease-in;
}

/* popup message */
#popup {
  position: fixed;
  top: 25%;

  display: none;

  background: var(--background-color);
  width: 90%;
  height: 60%;
  border-radius: 5px;
}

#popup h3 {
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 30px;
}
#popup .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: calc(1.3rem + .6vw);
  line-height: 30px;
  color: var(--text-color);
  cursor: pointer;
}
#popup .close:hover {
  cursor: pointer;
  color: #d7c378;
  transition: all 0.1s ease-in;
}
#popup .content {
  width: 80%;
  overflow: auto;
  position: absolute;
  top: 80px;
  left: 30px;
}

#popup .content a:hover {
  color: #d7c378;
  transition: all 0.1s ease-in;
}
#popup .contact {
  width: 80%;
  overflow: auto;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#popup .contact a:hover {
  color: #d7c378;
  transition: all 0.1s ease-in;
}

@media(min-width: 576px) {
  .theme-btn {
    right: 50px;
    bottom: 100px;
    height: 50px;
    width: 50px;
    font-size: 1.25em;
  }
  .info-key {
    right: 50px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    font-size: 1.25em;
  }
  #popup {
    top: 35%;
    width: 60%;
    height: 35%;
  }
}

@media(min-width: 768px) {
  #popup {
    width: 50%;
  }
}

@media(min-width: 992px) {
  #popup {
    width: 40%;
    height: 30%;
  }
}