@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  animation-timing-function: linear;
}

body {
  height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  background-color: #090909ff;
}

.title {
  position: sticky;
  top: 25px;
  margin: 0 20px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 4em;
}

.container {
  height: calc(100vh - 25px);
  min-width: 320px;
  margin-top: 40px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.row > div {
  padding: 0;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  overflow: hidden;
}

.row > div:nth-of-type(1),
.row > div:nth-of-type(6) {
  background-color: #eceff0ff;
  color: #112040ff;
}

.row > div:nth-of-type(2),
.row > div:nth-of-type(7) {
  background-color: #b2c6d4ff;
  color: #112040ff;
}

.row > div:nth-of-type(3),
.row > div:nth-of-type(8) {
  background-color: #086190ff;
  color: #fff;
}

.row > div:nth-of-type(4),
.row > div:nth-of-type(9) {
  background-color: #112040ff;
  color: #fff;
}

.row > div:nth-of-type(5),
.row > div:nth-of-type(10) {
  background-color: #3c3c3cff;
  color: #fff;
}

img {
  opacity: 0.15;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.card-link {
  position: relative;
}

.card-link div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.card-link:hover div {
  visibility: hidden;
  transition: visibility 0.5s ease-in;
}

.card-link:hover img {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.info-key {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.25em;
  color: #000;
  background-color: #d7c378;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.info-key:hover {
  color: #404040;
}

/* popup message */
#popup {
  position: fixed;
  top: 35%;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  background: #090909ee;
  width: 75%;
  height: 40%;
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}

#popup:target {
  visibility: visible;
  opacity: 1;
}

#popup h3 {
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 30px;
}
#popup .close {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 200ms;
  font-size: calc(1.3rem + .6vw);
  line-height: 30px;
  color: #fff;
}
#popup .close:hover {
  color: #d7c378;
}
#popup .content {
  width: 80%;
  overflow: auto;
  position: absolute;
  top: 80px;
  left: 30px;
}

#popup .content a:hover {
  color: #d7c378;
}

#popup .contact {
  width: 80%;
  overflow: auto;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

#popup .contact a:hover {
  color: #d7c378;
}

@media(min-width: 576px) {
  #popup {
    width: 60%;
    height: 35%;
  }
}

@media(min-width: 768px) {
  #popup {
    width: 50%;
  }
}

@media(min-width: 992px) {
  #popup {
    width: 35%;
    height: 30%;
  }
}