@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}
.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  background-color: transparent;
  color: #ffffffaa;
  padding: 20px;
  border: none;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}

/* back-key */
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.back-key {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1em;
  color: #000;
  background-color: #d7c378;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
  z-index: 9;
}

.back-key:hover {
  color: #f9f3e0;
  transform: translateX(10%);
  transition: all 0.3s ease-in;
}

@media(min-width: 576px) {
  .back-key {
    right: 50px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    font-size: 1.25em;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  main {
    justify-content: space-between;
  }
  .search {
    margin-top: 0;
  }
}